/* General body styling */
body{
    background-color:rgb(238, 238, 238) !important;
}

/* Styling for the h1 tag */
h1{
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

/* Navbar styles */
.navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #343a40;
}


#navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Full width */
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap
}
.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-content-wrapper {
    display: flex;
    justify-content: flex-end;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 200px;
}

.navbar-brand {
    padding: 0 5px;
}
#slogan{
    font-size: 0.5em;
    color: white;
    padding: 0 5px;
}
.navbar-toggler {
    width: 30px; /* Adjust the width of the button */
    height: 30px; /* Adjust the height of the button */
    font-size: 1.5em;
    display: flex; /* Add this */
    align-items: center; /* Add this */
    justify-content: center; /* Add this */
}
.navbar-text {
    font-size: 0.8em;
    padding: 5px !important;
    text-align: right;
}
.navbar-brand-wrapper {
    padding: 5px; 
}

.navbar-toggler-icon {
    background-image: none !important;
    width: 50px;
}
.navbar-toggler::before {
    content: '☰';
    font-size: 1.5em;
    line-height: 1; /* Add this */
    margin-top: -9px; /* Add this */
}

/* Styling for the heart icon */
.text-red {
    color: red;
}
.bi-heart.favourite {
    color: red;
}
.bi-heart, .bi-heart-fill, .bi-trash {
    font-size: 0.5em; /* Adjust this value to make the heart smaller */
    margin: 3px;
    position: relative; /* Added */
    top: -2.5px; /* Added */
}

.bi-heart, .bi-trash {
    color: #343a40;
}

#homepage-instructions{
    text-align: center;
}

/* Styling for the main container */
#main-search-container {
    display: flex;
}

/* Styling for the board container */
#board-container {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for each board */
.board {
    flex: 0 0 250px; /* Allows the board to always be 300px */
    max-width: 180px; /* Sets the maximum width of the board to 300px */
    max-height: 300px; /* Sets the maximum height of the board to 400px */
    height: 300px; /* Sets the height of the board to 400px */
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out; /* Add this line for smooth transition */
    display: flex; 
    flex-direction: column; 
    border: 1px solid black; 
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}
.board:hover {
    transform: scale(1.05); /* Add this line to scale the board on hover */
}

/* Styling for the board data */
.board-data {
    font-size: 0.5em; /* Adjust to change the text size */
    margin: 3px;
}

/* Styling for the board header */
.board-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    order: 1; /* Add this line */
    font-size: .6em;
    height: 50px;
    position: relative;
    font-style: bold;
    background-color: #343a40;
    color: white;

}

/* Styling for the board main info */
.board-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
}

#board-title {
    margin: 0 3px;
}

/* Styling for the board size data */
.board-main-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    padding: 0 7px;
}

.board-image-container {
    max-width: 100%;
    max-height: 250px;
    height: 250px;
    position: relative;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    object-fit: contain;
    order: 2;
}

.board-image-container {
    cursor: pointer;
}

.favourite-form {
    position: absolute;
    top: 6px; /* Adjust as needed */
    background-color: beige;
    border: 1px solid #343a40; /* Adjust as needed */
    border-radius: 50%;
    padding: 3px;
    width: 16px; /* Adjust as needed */
    height: 16px; /* Adjust as needed */
    line-height: 16px; /* Adjust as needed, should be equal to height for vertical centering */
    text-align: center; /* For horizontal centering */
    display: flex; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */
    right: 5px;
}

#delete-board-temp {
    position: absolute;
    top: 1px;
    background-color: beige;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    line-height: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Added */
    right: 1px;
}

.trash-temp{
    font-size: 0.2em;
    margin: 0;
    position: relative; /* Added */
    top: -6px; /* Added */
}

.board-search.board-image {
    width: 100%; /* Add this line */
    max-height: 248px;
    object-fit: contain; /* Add this line */
    transition: visibility 0.3s, opacity 0.3s linear; 
}

/* Styling for the board data container */
.board-data-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s linear;
    background: rgba(255,255,255,0.8); /* Add a background to make the text readable */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Hover effect for the board image container */
.board-image-container:hover .board-search.board-image {
    visibility: hidden; /* Add this line */
    opacity: 0; /* Add this line */
}

/* Hover effect for the board data container */
.board-image-container:hover .board-data-container {
    visibility: visible; /* Add this line */
    opacity: 1; /* Add this line */
}

.board-profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
}

.board-profile-data p {
    margin: .5em;
}

.board-profile-title {
    text-align: center;
}

.board-profile-details .board-profile-main-photo-container, .board-profile-data {
    width: 50%;
}

.board-profile-details, .board-profile-main-photo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}


@media (min-width: 768px) {
    .board-profile-details {
        flex-direction: row;
    }
}
/* Other styles */
#map {
    width: 100%;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;
}
#mapWrapper {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 0; /* Hide the element by default */
    opacity: 0; /* Make the element transparent */
    transition: max-height 0.5s, opacity 0.5s; /* Add transition effect */
    overflow: hidden; /* Hide the overflow content */
}

#mapContainer {
    width: 100%;
    height: 300px;
    z-index: 10; 
    margin: 0 auto;
    display: flex;           /* Add this line */
    justify-content: center; /* Add this line */
}

.content{
    clear: both;
    padding: 10px;
}

.option-row {
    display: flex;
    justify-content: space-around;
}

.option-col {
    flex: 1;
    display: flex;
    justify-content: center;
}

.option-btn {
    width: 50mm;
    margin: 0 auto;
    display: block;
    font-size: 15px !important;
}

#filters-show-hide-button{
    font-size: 0.6em;
}

/* Style the filter form */
#filter-form {
    width: 160px; /* Reduce the width of the form */
    min-width: 160px;
}

/* Style the form elements */
#filter-form input,
#filter-form select {
    width: 90%; /* Reduce the width of the form elements */ /* Reduce the spacing between form elements */
    font-size: 0.6em;
    display: block;
}

/* Style the form labels */
#filter-form label {
    font-size: 0.6em; /* Reduce the size of the labels */
    display: block;
}

/* Style the sliders */
#price-slider,
#length-slider,
#width-slider,
#depth-slider,
#volume-slider {
    width: 90%; /* Reduce the width of the sliders */
    font-size: 0.6em;
}
/* Style the buttons */
#filter-button-container {
    display: flex; /* Add this line */
    justify-content: center; /* This will center the buttons horizontally */
    align-items: center; /* This will center the buttons vertically */
    margin-top: 10px; /* Add some spacing above the buttons */
    width: 100%;
}

#filter-button-container button {
    width: 50%; /* Reduce the width of the buttons */
    margin-right: 5%; /* Add some spacing between the buttons */
    margin: 2px;
    font-size: 0.6em;
    padding: 3px;
    background-color: #343a40;
}

.slider-title {
    margin-bottom: 0rem;
    font-size: 0.6em;
}

#board_location_coordinates,
#coordinates_label {
    display: none !important;
}